table.scorecard {
  margin-left:auto; 
  margin-right:auto;
  font-size:13px;
  border-width: 1px;
  border-collapse: collapse;
}
table.scorecard td {
  border-width: 1px;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  border-style: solid transparent;
}

table.stats {
  margin-left:auto; 
  margin-right:auto;
  font-size:13px;
  border-width: 1px;
  border-collapse: collapse;
}
table.stats td {
  border-width: 1px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border-style: solid;
}
table.stats th {
  padding: 7px;
}

.percent_span {
  font-size: 13px;
  color: #BBB;
  text-align: center;
}  
.timespan {
  font-size: 12px;
  color: #666;
  text-align: center;
}
.circle{
  margin-left:auto; 
  margin-right:auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: yellow;
}